@import '../../../styles/variables';

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;

  border-radius: 50%;
  border: 1px solid $color-grey-90;
  color: $color-grey-60;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.1s;

  &:hover {
    border: 1px solid $color-grey-60;
  }
}
