@import '../../styles/helpers.scss';

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 50rem;
  height: fit-content;
  margin-top: 6rem;
  padding: 2rem;

  background: #fff;
  border-radius: 1rem;
  box-shadow: 2px 6px 12px rgba($color: #000000, $alpha: 0.2);
  overflow: hidden;
}

.top {
  padding-bottom: 1.2rem;
  margin: 0 -2rem;
  border-bottom: 1px solid $color-grey-90;
}

.topHeading {
  width: 100%;
  font-size: 2.2rem;
  color: $color-grey-30;
  text-align: center;
}

.topIcon {
  position: absolute;
  top: 1.4rem;
  right: 1.4rem;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;

  font-size: 3rem;
  color: $color-grey-60;
  border-radius: 50%;
  cursor: pointer;
  background: transparent;

  &:hover {
    background: $color-grey-100;
  }
}

.author {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: $color-grey-30;
}

.authorAvatar {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
}

.authorFullName {
  font-size: 1.6rem;
  font-weight: 700;
  color: $color-grey-40;
  margin-bottom: 0.2rem;
}

.authorRole {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  width: fit-content;
  margin-bottom: 0.4rem;

  background: $color-grey-100;
  border-radius: 10rem;
  padding: 0.2rem 1rem;
  cursor: pointer;
}

.textarea {
  width: 100%;
  min-height: 16rem;
  padding: 1rem 1.6rem;

  color: $color-grey-30;
  border-radius: 1rem;
  font-size: 1.8rem;
  border: 1px solid $color-grey-70;
  outline: none;
  overflow: auto;
  resize: none;
  border: 1px solid $color-grey-90;
}

.bottom {
  display: flex;
  align-items: center;
}

.labelUploadFile {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4.4rem;
  height: 4.4rem;
  margin-right: auto;

  border-radius: 50%;
  color: $color-grey-50;
  font-size: 2.6rem;

  &:hover {
    background: $color-grey-100;
    cursor: pointer;
  }

  input {
    display: none;
  }
}

.filesReview {
  display: flex;
  gap: 0.6rem;
  overflow-x: auto;
}

.file {
  display: block;
  flex: 0 0 15.9rem;
  margin-bottom: 0.6rem;

  border: 1px solid $color-grey-90;
  border-radius: 4px;
  cursor: pointer;
  
  img, video {
    width: 15.9rem;
    height: 10rem;
    object-fit: cover;
  }
}

.btnSubmit {
  height: 4.4rem;
  min-width: 8rem;
  padding: 1rem;

  background: $color-primary;
  border-radius: 4px;
  color: $color-white;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;

  &:hover {
    filter: brightness(95%);
  }
}

.disable {
  background: $color-grey-100;
  color: $color-grey-60;
  cursor: default;

  &:hover {
    filter: none;
  }
}
