$font-family-logo: 'Berkshire Swash';
$font-family: 'Roboto';

$color-primary: #0099e5;
$color-primary-light: #e5f6ff;
$color-secondary: #ff4c4c;
$color-tertiary: #f1c40f;

$color-grey-10: #181818;
$color-grey-20: #303030;
$color-grey-30: #484848;
$color-grey-40: #606060;
$color-grey-50: #787878;
$color-grey-60: #909090;
$color-grey-70: #a8a8a8;
$color-grey-80: #c0c0c0;
$color-grey-90: #d8d8d8;
$color-grey-100: #f0f0f0;
$color-grey-110: #f8f8f8;

$color-white: #fff;
$color-black: #000;
